body {
	margin: 0;

	font-family: 'Roboto', sans-serif;
	color: white;

	background-color: rgb(40, 40, 40);
}

header {
	padding-top: 5px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
}

header * {
	margin-left: 5px;
	margin-right: 5px;
	color: white;
}

header img {
	width: 50px;
	border-radius: 20%;
	filter: invert(100%);
}

header button:hover {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

section {
	padding: 10px 25px 10px 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section #container {
	display: flex;
	flex-direction: row;
}

section #toolbar {
	margin: 0px 20px 0px 20px;
	padding: 0px 20px 0px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	
	height: 500px;
	border: 1ps solid transparent;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.5);
}

section #toolbar h2 {
	margin: 0px;
}

section #toolbar button {
	width: 100%;
	border: 1px solid transparent;
	border-radius: 5px;;
}

section #toolbar button:focus {
	width: 80%;
}

section #toolbar input {
	margin: 5px;
	padding: 10px;
	width: 80%;
	border: 1px solid transparent;
	border-radius: 5px;
}

section #pixelart {
	margin-top: 20px;
	--size: 4;
	height: 500px;
	width: 500px;
	display: grid;
	grid-template-columns: repeat(var(--size), 1fr);
	grid-template-rows: repeat(var(--size), 1fr);
	gap: 2px;
	padding: 3px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.5);
}

.pixel {
	background-color: rgb(61, 61, 61);
	border-radius: 5px;
}

section #toolbar button {
	margin: 10px;
	padding: 10px 25px 10px 25px;

	background-color: white;
	border: 1px solid transparent;
	border-radius: 20px;
	cursor: pointer;
	transition: box-shadow .2s
}

section #toolbar button:hover {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

section #creator {
	margin-top: 20px;
	padding: 10px 25px 10px 25px;

	background-color: white;
	border: 1px solid transparent;
	border-radius: 20px;
	cursor: pointer;
	transition: box-shadow .2s
}

section #creator:hover {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

section #result {
	margin-top: 20px;
	padding: 20px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.5);
}

#fcreator {
	margin-top: 20px;
	padding: 10px 25px 10px 25px;

	background-color: white;
	border: 1px solid transparent;
	border-radius: 20px;
	cursor: pointer;
	transition: box-shadow .2s
}

#fcreator:active {
	margin-top: 25px;
}